.root {
    -fx-background-image:url('../images/background.jpeg');
    -fx-background-size:cover;
}
#nextButton ,#prevButton {
    -fx-background-color: transparent;
	-fx-border-radius: 3;
    -fx-border-color: #2d76bb;

    -fx-text-fill: #2d76bb;
}
#nextButton:hover,
#prevButton:hover
{
	-fx-background-color: #2d76bb;
	-fx-text-fill: white;
}
