.root {
    -fx-background-image:url('../icons/background.jpeg');
    -fx-background-size:cover;
}
#nextBtn ,#prevBtn {
    -fx-background-color: transparent;
	-fx-border-radius: 3;
    -fx-border-color: #2d76bb;

    -fx-text-fill: #2d76bb;
}
#nextBtn:hover,
#prevBtn:hover
{
	-fx-background-color: #2d76bb;
	-fx-text-fill: white;
}

.edit-btn {
    -fx-background-color: transparent;
}
